:root {
    --violet: rgb(199, 113, 225); /*frame */
    --deep-purple: rgb(38, 13, 80); /*background*/
    --dark-blue: rgb(49, 37, 142); /*neon shadow of X*/
    --roayl-blue: rgb(66, 110, 211); /*shadow of X*/
    --cadet-blue: rgb(175, 179, 214); /*color of X*/
    --purple-eggplant: rgb(105, 27, 155); /*border in the frame*/
    --dark-chestnut: rgb(181, 42, 56); /*neon shadow of O*/
    --juicy-chestnut: rgb(178, 80, 72); /*shadow of O*/
    --purple-white: rgb(248, 211, 203); /*color of O*/
    --xo-style: 'Frijole', cursive;
    --main-style: 'Inknut Antiqua', serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    margin: 0 auto;
    display: flex;
}
.title {
   font-family: var(--main-style);
   font-size: 500;
   margin: 13rem auto 0 auto;
}
.players {
}
.player_x {
}
.player_o {
}
.box__area {
}